@charset "UTF-8";
:root {
  --text-color: #202124;
  --accent-color: #8BA828;
  --hover-accent-color: #799321;
  --secondary-text-color: #4D5156;
  --link-color: #1A0DAB;
  --gap: 30px;
  --main-shadow: 6px 5px 10px rgba(210, 210, 210, 0.25);
  --secondary-shadow: 5px 5px 7px rgba(210, 210, 210, 0.25);
  --hover-shadow: 5px 5px 10px 3px rgba(141, 141, 141, 0.2);
}

@font-face {
  font-family: 'Arial';
  src: local('Arial Regular'), local('Arial-Regular'),
      url('/cdn/fonts/ArialMT.woff2') format('woff2'),
      url('/cdn/fonts/ArialMT.woff') format('woff'),
      url('/cdn/fonts/ArialMT.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/cdn/fonts/ProductSans-Regular.eot');
  src: local('Product Sans'), local('ProductSans-Regular'),
      url('/cdn/fonts/ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('/cdn/fonts/ProductSans-Regular.woff') format('woff'),
      url('/cdn/fonts/ProductSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: var(--text-color);
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.1363636364;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn {
  background: #8BA828;
  box-shadow: var(--secondary-shadow);
  border: 1px solid var(--accent-color);
  border-radius: 30px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #ffffff;
  color: var(--secondary-text-color);
}

.header {
  padding: 20px 0;
  margin-bottom: 10px;
  box-shadow: var(--main-shadow);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 285px;
  }
}

.mob-menu {
  position: fixed;
  background-color: #FBFBFB;
  z-index: 1;
  top: 0;
  right: 0;
  width: 70vw;
  height: 40vh;
  padding: 20px 15px 50px;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  box-shadow: var(--main-shadow);
}
.mob-menu > .container {
  width: 100%;
  height: 100%;
}
.mob-menu__close-btn, .mob-menu__open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  fill: #ffffff;
  width: 40px;
  height: 40px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__close-btn:hover, .mob-menu__close-btn:focus, .mob-menu__open-btn:hover, .mob-menu__open-btn:focus {
  fill: #E7E7E7;
}
@media screen and (min-width: 768px) {
  .mob-menu__open-btn {
    display: none;
  }
}
.mob-menu__navigation__item:not(:last-child) {
  margin-bottom: 20px;
}
.mob-menu__navigation__link {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.48;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__navigation__link:hover, .mob-menu__navigation__link:focus {
  color: var(--accent-color);
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    gap: 90px;
  }
}
.navigation__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding: 32px 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.hero {
  padding: 40px 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 50px bottom;
  background-size: 153px 300px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 70px 0;
    background-image: url(./cdn/img/hero-bg-tab-min.svg);
    background-size: 445px 235px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 180px 0;
    background-image: url(./cdn/img/hero-bg-pc-min.svg);
    background-size: 773px 415px;
  }
}
.hero__content {
  text-align: center;
}
@media screen and (min-width: 480px) {
  .hero__content {
    text-align: left;
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) {
  .hero__content {
    max-width: 400px;
  }
}
.hero__title {
  font-family: "Product Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4666666667;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 36px;
  }
}
.hero__btn-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__btn-list {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .hero__btn-list {
    flex-direction: row;
  }
}
.hero__btn {
  font-size: 15px;
  display: block;
  max-width: 150px;
  padding: 10px 25px;
  line-height: 15px;
}

.lawyers__search {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
}
.lawyers__search-field {
  position: relative;
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .lawyers__search-field {
    flex-basis: auto;
  }
}
.lawyers__search-input {
  width: 100%;
  height: 35px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2857142857;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #EDEDED;
  border-radius: 17px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lawyers__search-input:not(:-moz-placeholder-shown) + .lawyers__filter-label {
  transform: translateY(-45px);
}
.lawyers__search-input:not(:-ms-input-placeholder) + .lawyers__filter-label {
  transform: translateY(-45px);
}
.lawyers__search-input:not(:placeholder-shown) + .lawyers__filter-label {
  transform: translateY(-45px);
}
.lawyers__search-input:focus {
  outline: 1px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .lawyers__search-input {
    width: 410px;
  }
}
.lawyers__search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  fill: #C9C9C9;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lawyers__search-btn {
  flex-basis: 100%;
  height: 35px;
}
@media screen and (min-width: 768px) {
  .lawyers__search-btn {
    flex-basis: 190px;
  }
}
.lawyers__search-btn:hover {
  box-shadow: var(--hover-shadow);
}
.lawyers__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.lawyers__card-item {
  flex-basis: 100%;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 5px rgba(211, 211, 211, 0.2);
  border-radius: 7px;
  padding: 20px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .lawyers__card-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .lawyers__card-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.lawyers__card-link {
  color: var(--secondary-text-color);
}
.lawyers__card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.lawyers__image-wrapper {
  position: relative;
  margin-bottom: 20px;
  width: 112px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 5px rgba(99, 99, 99, 0.25);
}
.lawyers__image-wrapper > img {
  position: relative;
}
.lawyers__card-name {
  font-family: "Product Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.0555555556;
  letter-spacing: 0.03em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lawyers__card-name:hover, .lawyers__card-name:focus {
  color: var(--link-color);
}
.lawyers__card-practice-area, .lawyers__card-rating, .lawyers__card-address, .lawyers__card-specialization {
  font-size: 14px;
  line-height: 20px;
  color: #616161;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lawyers__card-practice-area:hover, .lawyers__card-practice-area:focus, .lawyers__card-rating:hover, .lawyers__card-rating:focus, .lawyers__card-address:hover, .lawyers__card-address:focus, .lawyers__card-specialization:hover, .lawyers__card-specialization:focus {
  color: var(--link-color);
}
.lawyers__card-text-about {
  font-size: 14px;
  line-height: 20px;
  color: #616161;
}
.lawyers__card-text-about span {
  font-size: 14px;
  line-height: 20px;
  color: var(--link-color);
}
.lawyers .lawyers__stars-list {
  display: flex;
  gap: 5px;
}
.lawyers .lawyers__stars-icon {
  fill: #FFCF02;
}

.showMore {
  display: none;
  font-size: 15px;
  max-width: 150px;
  padding: 10px 25px;
  line-height: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  cursor: pointer;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  line-height: 0.75;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
  color: var(--secondary-text-color);
}

.rating__active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  color: #FFCF02;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 60%;
  line-height: 1;
  padding-left: 5px;
}

.filter-section {
  box-shadow: 3px 3px 20px rgba(141, 141, 141, 0.2);
}
@media screen and (min-width: 1200px) {
  .filter-section {
    background-image: url(./cdn/img/search-bg-min.svg);
    background-repeat: no-repeat;
    background-position: right 50px center;
    background-size: 467px 328px;
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .filter {
    align-items: start;
  }
}
.filter__title {
  margin-bottom: 50px;
}
.filter__form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.filter__field-wrapper {
  position: relative;
}
.filter__field {
  font-size: 15px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #EDEDED;
  border-radius: 25px;
  width: 100%;
  height: 50px;
  color: var(--secondary-text-color);
}
.filter__field:hover, .filter__field:focus {
  outline: 1px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .filter__field {
    width: 524px;
  }
}
.filter__field option {
  font-size: 14px;
  color: var(--secondary-text-color);
}
.filter__button {
  font-size: 15px;
  max-width: 200px;
  padding: 10px 25px;
  line-height: 15px;
  cursor: pointer;
}

.swiper {
  padding: 35px;
  max-width: 800px;
  border: 1px solid #EDEDED;
  border-radius: 7px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .swiper__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.swiper__content {
  padding: 20px;
}
.swiper__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1111111111;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.swiper__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.swiper__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  font-style: italic;
}
.swiper__stars {
  margin-bottom: 18px;
}
.swiper__stars-list {
  display: flex;
  gap: 5px;
}
.swiper__stars-icon {
  fill: #FFCF02;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 20px;
}

.swiper-button-prev, .swiper-button-next {
  color: #D1D5D9;
}

.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  line-height: 2;
  letter-spacing: 2;
  background-color: #B3B3B3;
}

.footer {
  background-color: #F2F2F2;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer__text {
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-text-color);
}
.footer__link {
  color: var(--link-color);
}/*# sourceMappingURL=main.css.map */