:root {
    --text-color: #202124;
    --accent-color: #8BA828;
    --hover-accent-color: #799321;
    --secondary-text-color: #4D5156; 
    --link-color: #1A0DAB;
    --gap: 30px;
    --main-shadow: 6px 5px 10px  rgba(210, 210, 210, 0.25);
    --secondary-shadow: 5px 5px 7px   rgba(210, 210, 210, 0.25);
    --hover-shadow: 5px 5px 10px 3px rgba(141, 141, 141, 0.2);
}   